body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  bottom: 0;
}

nav {
  height: 100px;
  line-height: 100px;
}

button {
  width: 100%;
}

.vertical-center{
  min-height: 100vh;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}


/*.bg-hero-image {
  background-image: url("../../assets/images/threePuppies.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}*/

.row {
  flex: 1;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #64ffda;
}

.img-cropper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

.dropdown-content {
  border-bottom: 1px solid #64ffda;
}


.small-img {
  width: 30%;
  padding: 0;
  margin: 0;
}

a:link, a:visited, a:active {
  color: #b39ddb;
}

.footer-links > a:link, a:visited, a:active {
  color: #eeeeee;
}

a:hover {
  color: #64ffda;
}

#map {
  width: 70vw;
  height: 400px;
}

/*=========================================*/
/*Media Queries*/
/*=========================================*/

@media screen and (max-width: 992px) {
  .img-cropper {
    height: 400px;
  }

  #map {
    width: 85vw;
  }

}

@media screen and (max-width: 600px) {
  .img-cropper {
    height: 500px;
  }
  #map {
    width: 90vw;
  }

}
